body {
font-family: Comic Sans MS;
  }
  
  
.container{
	min-width: 960px;
    max-width: 1300px;
    height: auto;
    min-height: 110vh;
	background-image: url("slike/pozadina.jpg");
    background-size: cover;                      
    background-position: center;
	margin: 10px auto;
	border-radius:60px;
	box-shadow: 0px 0px 50px gray;
	position: relative;
}
  
a.home:link, a.home:visited { 
width:30%; 
height:24%;
position:absolute; left:0%; top:0%;
background:rgba(160,160,160,.75);  
border-radius:60px 0px 60px 0px;
box-shadow: 10px 15px 20px gray;
}
a.home:hover {background-color: rgba(160,160,160,.55)}
		  
#frame2 { 
          width:70%; 
		  height:15%;
		  padding-top:15px;
		  position:absolute; right:0%; top:0%;       
		  background:rgba(160,160,160,.75); 
		  color:black; 		  
		  text-align:center;
		  border-radius:0px 60px 0px 0px;
		  box-shadow: 0px 10px 20px grey;
		  }

a.kupi:link, a.kupi:visited { 
		  width:30%; 
		  height:30%;
          position:absolute; top:40%; right:0%;
		  background:rgba(160,160,160,.75);  
		  border-radius:60px;
		  box-shadow: 5px 20px 20px gray;
		  }
		  
a.kupi:hover {  background-color: rgba(160,160,160,.55);
  box-shadow: 0px 12px 9px gray;
  transform: translateY(4px)}



		  
a.prodaj:link, a.prodaj:visited { 
		  width:30%; 
		  height:30%;
          position:absolute; top:40%; left:0%;
		  background:rgba(160,160,160,.75);  
		  border-radius:60px;
		  box-shadow: 40px 20px 20px gray;
		  }
a.prodaj:hover {  background-color: rgba(160,160,160,.55);
  box-shadow: 25px 12px 9px gray;
  transform: translateY(4px)}

		  
a.tecaj:link, a.tecaj:visited { 		  
          width:30%; 
		  height:30%;
          position:absolute; top:40%; left:35%;
		  background:rgba(160,160,160,.75); 
		  border-radius:60px;
		  box-shadow: 40px 20px 20px gray;
		  }
		  
a.tecaj:hover {  background-color: rgba(160,160,160,.55);
  box-shadow: 25px 12px 9px gray;
  transform: translateY(4px)}

#footer { 
          position:absolute;
		  height:130px;
          left: 0;
          bottom: 0;
          width: 100%;
		  font-size:20px;      
		  background:rgba(160,160,160,.75); 
		  color:black; 
		  border-radius: 0px 0px 60px 60px;
		  }
		  
		
		
