body {
font-family: Comic Sans MS;
background-image: url("../slike/pozadina.jpg");
background-position: center;
  }



	
a.home:link, a.home:visited { 
width:30%; 
height:11%;
position:absolute; left:0%; top:0%;
background:rgba(160,160,160,.75);  
border-radius:60px 0px 60px 0px;
box-shadow: 20px 10px 20px gray;
}
		  
a.prodaj:link, a.prodaj:visited { 
		  width:250px; 
		  height:120px;
          border: 0px;
          padding: 0px;
          position:absolute; right:0%;
		  background:rgba(160,160,160,.75);  
		  border-radius:60px;
		  font-size:170px;
		  text-align:center;
		  text-decoration: none
		  }
a.prodaj:hover {transform: translateY(4px)}
#kupi {
     width: 0px;
      height: 0px;
      border-top: 50px solid transparent;
      border-right: 100px solid rgba(160,160,160,.75);
      border-bottom: 50px solid transparent;
	  position:absolute; top:5%; left:43%;
	  border-radius:20px;
    }
#kupi:hover {transform: translateY(4px)}
	
#tecaj {
      width: 0px;
      height: 0px;
      border-top: 50px solid transparent;
      border-left: 100px solid rgba(160,160,160,.75);
      border-bottom: 50px solid transparent;
	  position:absolute; top:3%; left:105%;
	  border-radius:20px
    }
#tecaj:hover {transform: translateY(4px)}


	
	









#frame2 { 
	      width:650px; 
		  height:380px;
		         
		  background:rgba(160,160,160,.75); 
		  color:black; 
		  border-radius:80px;
		  text-align:left;		  
		  font-size:150%;
		  }

#frame3 {
	      display: none;
		  width:650px; 
		  height:380px;        
		  background:rgba(160,160,160,.75); 
		  color:black; 
		  border-radius:80px;
		  text-align:left;		  
		  font-size:150%;
		  }
		  
#frame4 {
	      display: none;
	      width:780px; 
		  height:600px;        
		  background:rgba(160,160,160,.75); 
		  position:relative; left:-10%; 
		  
		  color:black; 
		  border-radius:80px;
		  text-align:left;		  
		  font-size:150%;
		  }
		  
input.količina {
          font-family: Comic Sans MS;	
          width:70%;
          padding:12px;		  
		  height:13%;
		  border-radius:10px;
		  font-size:100%;
		  text-align:left;
		  box-shadow: 20px 10px 10px gray;
		  }

input.ukupno {
          font-family: Comic Sans MS;	
          width:70%; 
		  height:13%;
		  padding:12px;
		  border-radius:10px;
		  font-size:100%;
		  text-align:left;
		  box-shadow: 20px 10px 10px gray;
		  }

button.next { 
          font-family: Comic Sans MS;
          width:25%; 
		  height:13%;
		  border:none;
		  border-radius:10px;
		  font-size:25px;
		
		  background-color: #4CAF50;
		  color: white;
		  box-shadow: 20px 10px 10px gray;
		  }
		  
button.kraj { 
          font-family: Comic Sans MS;
          width:85%; 
		  border:none;
		  height:65px;
		  border-radius:10px;
		  font-size:30px;
		  position:absolute; right:8%;
		  background-color: #4CAF50;
		  color: white;
		  box-shadow: 20px 10px 10px gray;
		  }
		  
.next:hover, .kraj:hover {
  background-color: #45a049;
          } 
.next:active, .kraj:active {
	box-shadow: 9px 9px 4px gray;
    transform: translateY(4px)}
  

a.vrste {	     
		  position:absolute; top:5.5%; right:10%;          		  
		  }
		  
input.tekst1 {
          font-family: Comic Sans MS;	
          width:49%; 
		  height:10%;
		  padding:12px;
		  border-radius:10px;
		  font-size:25px;
		  text-align:left;
		  box-shadow: 20px 10px 10px gray;
		  }

input.tekst2 { 
          width:32%; 
		  height:10%;
		  border-radius:10px;
		  font-size:25px;
		  text-align:center;
		  font-family: Comic Sans MS;
		  box-shadow: 20px 10px 10px gray;
		  }
		  
input.tekst3 { 
          width:14.5%; 
		  height:10%;
		  border-radius:10px;
		  font-size:25px;
		  text-align:center;
		  font-family: Comic Sans MS;
		  box-shadow: 20px 10px 10px gray;
		  }

